body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.App {
  background-color: whitesmoke;
  display: grid;
}

.paperBlock {
  margin: 32px;
  padding: 16px;
}

button {
  margin-right: 8px;
}

ul {
  padding: 10px;
  list-style: none;
  color: black;
}

.listItem {
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
}

.postTitle {
  margin-right: 10px;
  display: inline-block;
}

.formInput {
  margin-right: 10px;
}
